@media ( max-width: 1200px )
   .container
      max-width: 960px
   .hero
      padding-top: 59px
   .book
      &__break
         display: none
      &__info
         padding: 0   
      &__cover      
         //flex-basis:  48%  
         max-width: 420px
         //padding: 52px 69px
   .feature
      &__wrapper
         flex-direction: column
      &__excite
         margin-right: 0
         width: calc( 100% - 32px )   
      &__top
         &-book
            width: calc( 100% - 36px ) 
            
         &-card
            &:nth-child(n+4)
               display: none
      &__card
         flex-direction: column 
         width: calc( 33% - 32px )
         &:nth-child(n+4)
            display: none
   .excite
      &__title
         text-align: center
      &__wrapper
         justify-content: space-between
   .card
      max-height: 312px
      height: 312px
      position: relative
      
      padding: 132px 0 32px
      &__cover
         position: absolute
         top: -24px
         flex-basis: auto
         min-width: 96px
         width: 96px
         height: 147px
      &__info
         flex-basis: auto
         height: 100%
      &__break
         display: none
      &__title
         text-align: center
      &__category
         text-align: center
         &--pp
            margin-top: 0
      &__price
         text-align: center
      &__order
         min-width: 153px
         align-self: center
   .top
      &-book
         &__wrapper
            flex-direction: row
            flex-wrap: wrap
            justify-content: space-between
         &__button
            width: 100%
      &-card
         width: calc( 33% - 36px )


@media ( max-width: 992px )
   .container
      max-width: 740px
   .book
      flex-direction: column
      &__cover
         //flex-basis: auto
         max-width: 100%
      &__title
         font-size: 32px
         line-height: 40px
         text-align: center
      &__author
         margin-bottom: 32px
         text-align: center
      &__description
         font-size: 16px
         line-height: 23px
         text-align: center
      &__order
         min-height: 40px
         max-width: 176px
         &--demo
            max-width: 176px
         &-group
            justify-content: center
            margin-bottom: 36px
@media ( max-width: 768px )
   .container
      max-width: 576px
      width: 90%
   .burger
      padding: 0
      padding-right: 10px
      &__image
         align-content: end
   .navbar
      margin-top: 0
      padding: 18px 0
      &__menu
         &-group
            &--hidden
               display: none
         &-burger
            &--activate
            display: block      
   .hero
      padding-top: 36px
   .book   
      &__info
         width: 90%       
@media ( max-width: 576px )
   .container
      min-width: 280px
@media ( max-width: 420px  )
   .book
      &__info
         height: auto
      &__title
         margin-bottom: 24px
      &__author
         font-size: 16px
         line-height: 24px
         margin-bottom: 32px 
      &__order
         &-group
            flex-direction: column
         &--demo
            margin-left: 0
            margin-top: 15px
      &__cover
         max-width: 280px
         min-height:  333px
         //height: 100%
         //min-height: 0
         width: 90%
      &__image
         width: 143px
         max-height:  215px
   