@media ( max-width: 1200px )
   .container
      max-width: 960px
   .hero
      padding-top: 59px
   .book
      &__break
         display: none
      &__info
         padding: 0
      &__cover
         //flex-basis:  48%  
         max-width: 420px
         //padding: 52px 69px
   .feature
      &__wrapper
         flex-direction: column
      &__excite
         margin-right: 0
         width: calc( 100% - 32px )
      &__top
         &-book
            width: calc( 100% - 36px )
         &-card
            &:nth-child(n+4)
               display: none
      &__card
         flex-direction: column
         width: calc( 33% - 32px )
         &:nth-child(n+4)
            display: none
   .excite
      &__title
         text-align: center
         margin-bottom: 72px
      &__wrapper
         justify-content: space-between
   .card
      max-height: 312px
      height: 312px
      position: relative
      padding: 132px 0 32px
      &__cover
         position: absolute
         top: -24px
         flex-basis: auto
         min-width: 96px
         width: 96px
         height: 147px
      &__info
         flex-basis: auto
         height: 100%
      &__break
         display: none
      &__title
         text-align: center
      &__category
         text-align: center
         &--pp
            margin-top: 0
      &__price
         text-align: center
      &__order
         min-width: 153px
         align-self: center
   .top
      &-book
         &__wrapper
            flex-direction: row
            flex-wrap: wrap
            justify-content: space-between
         &__button
            width: 100%
         &__title
            text-align: center
      &-card
         width: calc( 33% - 36px )
   .stories
      &__main
         &-video
            max-height: 210px
            min-height: 210px
   .story
      &__remark
         margin-top: 0
         margin-bottom: 5px
   .brand
      &__place
         width: 19%
         &:nth-child(n+11)
            display: none
   .newsletter
      &-wrapper
         flex-direction: column
         justify-content: center
      &__title
         max-width: 100%
   .footer
      &-wrapper
         column-gap: 20px
@media ( max-width: 992px )
   .container
      max-width: 700px
   .book
      flex-direction: column
      &__cover
         //flex-basis: auto
         max-width: 100%
      &__title
         font-size: 32px
         line-height: 40px
         text-align: center
      &__author
         margin-bottom: 32px
         text-align: center
      &__description
         font-size: 16px
         line-height: 23px
         text-align: center
      &__order
         min-height: 40px
         max-width: 176px
         &--demo
            max-width: 176px
         &-group
            justify-content: center
            margin-bottom: 36px
   .feature
      &__card
         width: calc( 50% - 32px )
         &:nth-child(n+3)
            display: none
      &__top
         &-card
            &:nth-child(n+5)
               display: none
            &:nth-child(-n+5)
               display: flex

   .top
      &-card
         width: calc( 50% - 36px )
   .stories
      &-wrapper
         padding: 45px 0 38px 0
      &__title
         font-size: 28px
         line-height: 36px
         text-align: center
         margin-bottom: 24px
         &-group
            flex-direction: column
            align-items: center
            margin-bottom: 35px
      &__description
         flex-basis: 100%
         font-size: 18px
         line-height: 25px
      &__break
         display: none
      &__play
         &-button
            transform: scale(0.6)
   .story
      width: calc( 50% - 30px)
      &:nth-child(n+3)
         display: none
      &__title
         font-size: 16px
         line-height: 20px
      &__remark
         font-size: 12px
         line-height: 20px
   .partners
      padding: 37px 0 36px
      &__title
         line-height: 30px
      &__places
         margin: 27px auto 0 auto
   .brand
      &__place
         margin-bottom: 20px
         transform: scale(0.9)
         width: 24%
         &:nth-child(n+9)
            display: none
   .blog
      &-wrapper
         grid-template-columns: 1fr
         grid-gap: 30px
      &__title
         font-size: 28px
         line-height: 36px
      &__description
         font-size: 12px
         line-height: 24px
      &__date
         font-size: 10px
         line-height: 20px
      &__more
         font-size: 10px
         line-height: 20px
      &-item
         &__title
            font-size: 14px
            line-height: 20px
         &__picture
            max-width: calc(39% - 20px)
            margin-right: 20px
         &__info
            max-width: calc(68% - 20px)
            padding: 0
      &-main
         grid-template-rows: repeat(3, 120px)
         grid-gap: 0
         &__picture
            grid-row: span 2
         &__info
            padding-top: 20px
            padding-left: 0
            padding-bottom: 0

         &__title
            font-size: 16px
            line-height: 20px
      &-tape
         grid-template-rows: repeat(3, 150px)
         grid-gap: 28px
   .footer
      &-wrapper
         grid-template-columns: repeat(2, 1fr)
         grid-column-gap: 30px
         grid-row-gap: 0
      &__product
         grid-column: 1/ span 1
         grid-row: 1/ span 4
      &__service
         grid-column: span 1
         grid-row: 1/ span 4
      &__company
         grid-column: span 1
         grid-row: 6/span 4
         padding-left: 0
      &__more
         grid-column: span 1
         grid-row: 6/span 4
         padding-left: 0
      &__logo
         &-place
            grid-column: 1/ span 2
            grid-row: 10/span 4
            display: flex
            flex-direction: column
            align-items: center
      &__like
         display: none
      &__copyright
         display: none
      &__title
         margin-bottom: 20px
      &__item
         &:not(:last-child)
            margin-bottom: 15px

@media ( max-width: 767px )
   .container
      max-width: 576px
      width: 90%
   .burger
      padding: 0
      padding-right: 10px
      &__image
         align-content: end
   .navbar
      margin-top: 0
      padding: 18px 0
      position: relative
      &-menu
         &__item
            margin-right: 0
            margin-bottom: 23px
      &__get
         &-book
            display: none
      &__menu
         display: flex
         flex-direction: column
         padding: 0
         &-group
            border-radius: 12px
            background-color: #fff
            flex-direction: column
            position: absolute
            right: 0
            top: 13px
            border: 2px solid $primary
            padding: 30px 50px 20px 40px
            &--hidden
               display: none
         &-burger
            &--activate
               display: block
         &-close
            position: absolute
            right: 0
            top: 13px
            &--activate
               display: block
   .hero
      padding-top: 36px
   .book
      &__info
         width: 100%
   .feature
      &__card
         width: calc( 100% - 32px )
         &:nth-child(n+2)
            display: none
      &__top
         &-book
            padding-top: 26px
         &-card
            margin-bottom: 13px
   .top
      &-card
         width: calc( 100% - 36px )
         &__cover
            flex-basis: 23%
         &__info
            flex-basis: 62%
      &-book
         &__title
            margin-bottom: 36px
         &__wrapper
            margin: 0px -12px
   .categories
      margin-top: 47px
      padding-bottom: 54px
      &__container
         padding-top: 55px
      &__line
         height: 374px
      &__button
         position: static
         transform: translateY(0)
         transform: scale(0.85)
         padding: 0 5px
         &-group
            width: 100%
            margin-top: 30px
            display: flex
            align-items: center
            justify-content: center
   .category
      padding: 20px 10px 20px 10px
      min-height: 182px
      max-height: 182px
      &__image
         max-width: 36px
         max-height: 36px
         margin-bottom: 14px
      &__title
         font-family: 'Roboto Condensed', sans-serif
         font-weight: 700
         font-size: 16px
         line-height: 20px
         margin-bottom: 32px
      &__comment
         font-size: 12px
         line-height: 20px
   .stories
      &__main
         &-video
            margin-bottom: 20px
      &__other
         &-video
            min-height: 138px
            max-height: 138px
         &-group
            margin: -10px
         &-story
            margin: 10px
   .story
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      max-height: 233px
      min-height: 233px
      width: calc( 50% - 20px)
      &__info
         //padding-top: 16px
         flex-direction: column
         align-items: center
         align-content: center
         justify-content: end
         justify-items: end
      &__title
         margin-bottom: 6px
      &__remark
         flex-basis: auto
         order: 2
         margin-bottom: 16px
      &__flag
         padding: 0
         order: 3
         &-icon
            width: 10px
            height: 14px
   .brand
      &__place
         width: 33%
         &:nth-child(n+7)
            display: none
   .newsletter
      &__title
         text-align: left
         font-size: 28px
         line-height: 36px
   .footer
      padding-top: 48px

@media ( max-width: 576px )
   .container
      min-width: 280px
   .excite
      &__title
         font-size: 28px
         line-height: 36px
   .unreleased
      padding: 48px 0 44px
      &-wrapper
         flex-direction: column
      &__title
         font-size: 28px
         line-height: 36px
         margin-bottom: 40px
      &__slider
         margin-top: 0
         margin-bottom: 37px
         max-width: 204px
         order: 2
      &__arrow
         transform: scale(0.85)
         &-group
            width: 120px
            order: 3
   .brand
      justify-content: space-around
      width: 90%
      &__place
         width: 40%
         &:nth-child(n+7)
            display: none
   .blog
      padding: 56px 0 48px
      &__section
         flex-direction: column
      &__wrapper
         margin-top: 48px
      &__title
         font-size: 28px
         line-height: 36px
         text-align: center
      &__button
         order: 3
         margin-top: 34px
         min-width: 159px
         width: 159px
      &-main
         grid-template-rows: repeat(2, 120px)
         &__picture
            padding: 0 4px
            grid-row: span 1
         &__info
            align-self: stretch
      &-tape
         grid-template-rows: repeat(3, 93px)
         grid-gap: 29px
   .newsletter
      &-wrapper
         border-radius: 0px
         padding: 26px 0 28px
         width: 100%
      &__container
         min-width: 320px
         width: 100%
      &__title
         width: 85%
         margin: 0 auto
      &__group
         margin: 32px auto 0
         width: 85%
      &__subscribe
         width: 100%
   .subscribe
      min-height: 112px
      &__input
         padding: 17px 11px 73px 48px
      &__button
         top: auto
         width: calc( 100% - 22px)
         left: 11px
         bottom: 12px
         right: 11px
         height: 42px
   .footer
      &-wrapper
         grid-column-gap: 10px
         padding-left: 6px
      &__title
         font-size: 16px
         line-height: 22px
      &__link
         font-size: 14px
         line-height: 20px
      &__company
         grid-column: span 1
         grid-row: 5/span 3
      &__more
         grid-column: span 1
         grid-row: 5/span 3
      &__logo
         &-place
            grid-column: 1/ span 2
            grid-row: 8/span 4
            padding-top: 34px
            justify-content: space-between
            padding-bottom: 54px
      &__tagline
         margin: 0
         text-align: center
      &__social
         &-links
            width: 100%
   .modal
      &__dialog
         max-width: 412px
         &-content
            padding: 33px 55px

@media ( max-width: 420px  )
   .book
      &__info
         height: auto
      &__title
         margin-bottom: 24px
      &__author
         font-size: 16px
         line-height: 24px
         margin-bottom: 32px
      &__order

         &-group
            flex-direction: column
            margin-top: 16px
         &--demo
            margin-left: 0
            margin-top: 15px
            font-size: 16px
            line-height: 22px
      &__cover
         max-width: 280px
         min-height: 333px
         height: 100%
         //min-height: 0
         width: 90%
      &__image
         width: 143px
         max-height: 215px
   .feature
      padding-top: 56px
   .card
      &__cover
         height: 137px
      &__info
         justify-content: space-between
      &__title
         font-size: 20px
         line-height: 24px
         margin-bottom: -10px
      &__category
         font-size: 14px
         line-height: 20px
      &__price
         font-size: 16px
         line-height: 20px
         margin-left: -10px
      &__button
         max-width: 114px
      &__like
         margin-right: 0
   .top
      &-card
         &__title
            font-family: 'Roboto Condensed', sans-serif
            font-size: 16px
            line-height: 24px
            font-weight: 700
         &__cover
            width: 96px
            min-width: 96px
            max-height: 145px
            flex-basis: auto
      &-book
         &__title
            font-size: 28px
            line-height: 36px
         &__button
            margin-top: 18px
   .excite
      &__button
         margin: 8px 14px 14px
         text-transform: none
         font-weight: 700
         font-size: 16px
         line-height: 20px
         min-height: 48px
   .modal
      &__dialog
         max-width: 280px
         &-content
            padding: 33px 20px
      &__button
         width: 100%
         order: 2
      &__info
         display: inline-block
         margin-bottom: 15px

//responsive for small Horizontal device
@media ( max-height: 487px )
   .modal
      &__dialog
         border-radius: 4px
         min-height: 0
         height: 90%
         overflow-y: auto
         overscroll-behavior: contain
         -ms-overflow-style: none
         scrollbar-width: none
         &::-webkit-scrollbar
            display: none
         &-content
            min-height: 517px
