*
  box-sizing: border-box
body
  font-family: 'Open Sans', sans-serif
  background: #fff
  color: $text-color
.container
  max-width: 1140px
  margin: auto
  
.button
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  border: 2px solid $primary
  border-radius: 8px
  color: $primary
  background-color: inherit
  text-decoration: none
  &--primary
    background-color: $primary
    color: #fff
  &-round
    cursor: pointer
    padding: 5px
    display: flex
    align-items: center
    justify-content: center
    text-decoration: none
    background-color: $text-color
    text-align: center
    color: #FFFFFF
    border: none
    border-radius: 18px//2000px
    font-weight: 700
    overflow: hidden
  &--link
    font-family: 'Roboto Condensed', sans-serif
    font-style: normal
    font-weight: 700
    letter-spacing: 0.2px
    text-transform: uppercase
    //width:  100%
.title, .price
  margin: 0
  font-family: 'Roboto Condensed', sans-serif
  font-style: normal
  font-weight: 700
  letter-spacing: 0.2px
.arrow
  width: 56px
  height: 56px
  border-radius: 28px
  &--unreleased
    &-left
      
