.categories
  margin-top: 79px
  padding-bottom: 98px
  &__line
    border-top: 1px solid $border-color
  &-wrapper
    padding-top: 60px
    
    display: flex
    margin: -14px
  
.category
  margin: 14px
  min-width: calc( 25% - 28px )
  // max-width: 264px
  // min-width: 264px
  height: 240px
  padding: 40px 10px 30px
  border: 1px solid $border-color
  border-radius: 8px
  &__content
    min-height: 100%
    min-width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    overflow: hidden
  &__image
    max-width: 64px
    max-height: 64px
  &__title
    margin: 0
    font-family: 'Roboto', sans-serif
    font-weight: 500
    font-size: 22px
    line-height: 145%
    letter-spacing: 0.2px
    margin-bottom: -25px
  &__description
    font-weight: 400
    font-size: 16px
    line-height: 22px