.navbar
  font-family: 'Open Sans', sans-serif
  display: flex
  align-items: center
  justify-content: space-between
  padding: 26px 0
  &__get-book
    margin-left: 63px
    font-weight: 700
    font-size: 16px
    line-height: 22px
    min-width: 148px
    height: 48px
    padding: 13px
    text-align: center
  &__group
    display: flex
    align-items: center
    justify-content: end

.navbar-menu
  display: flex 
  margin: 0
  align-items: center
  list-style-type: none
  &__item
    font-weight: 600
    font-size: 16px
    line-height: 22px
    margin-right: 25px
  